annotated-types==0.6.0
asgiref==3.8.1
distro==1.9.0
Django==4.2.13
django-environ==0.11.2
gunicorn==20.1.0
openai==1.30.1
pydantic==2.7.1
pydantic_core==2.18.2
python-decouple==3.8
sqlparse==0.5.0
tqdm==4.66.4
